html,
body {
  padding: 0;
  margin: 0;
  @apply bg-brand-secondary-light text-brand-secondary-light;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-brand-primary-light;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer;
}

@font-face {
  font-family: "Altone Trial";
  src: url("/fonts/altone-trial.regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Altone Trial";
  src: url("/fonts/altone-trial.bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Italic.ttf");
  font-style: italic;
}